In [24]:
import pandas as pd                                                 
import io
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [29]:
df=pd.read_csv("Churn_Modelling.csv",index_col="RowNumber")

In [31]:
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.isnull().sum()

CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df=df.drop(['Surname', 'Geography','Gender'], axis=1)

In [7]:
scaler=StandardScaler()                                             
df=pd.DataFrame(scaler.fit_transform(df))

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.783213,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886,1.977165
1,-0.606534,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534,-0.505775
2,-0.995885,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687,1.977165
3,0.144767,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918,-0.505775
4,0.652659,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276,-0.505775

In [9]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values                     
print("X:",X)
print("Y:",Y)

X: [[-0.78321342 -0.32622142  0.29351742 ...  0.64609167  0.97024255
   0.02188649]
 [-0.60653412 -0.44003595  0.19816383 ... -1.54776799  0.97024255
   0.21653375]
 [-0.99588476 -1.53679418  0.29351742 ...  0.64609167 -1.03067011
   0.2406869 ]
 ...
 [-1.47928179  0.60498839 -0.27860412 ... -1.54776799  0.97024255
  -1.00864308]
 [-0.11935577  1.25683526  0.29351742 ...  0.64609167 -1.03067011
  -0.12523071]
 [-0.87055909  1.46377078 -1.04143285 ...  0.64609167 -1.03067011
  -1.07636976]]
Y: [ 1.97716468 -0.50577476  1.97716468 ...  1.97716468  1.97716468
 -0.50577476]

In [10]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X, Y, test_size=0.2)

In [11]:
print("Xtrain:" ,Xtrain, "\nXtest:", Xtest)

Xtrain: [[ 1.51509117  1.54654498  2.00988206 ...  0.64609167  0.97024255
   0.54997723]
 [ 1.5824598  -0.3779553   1.15169974 ...  0.64609167  0.97024255
  -0.92709388]
 [ 0.41706313  0.61533517 -0.4693113  ... -1.54776799  0.97024255
  -1.71331494]
 ...
 [ 1.00630926  1.90868213 -0.66001848 ...  0.64609167  0.97024255
  -1.26143602]
 [-0.56820656 -1.4436732   1.81917487 ...  0.64609167  0.97024255
   1.08697375]
 [-1.37019354  0.93608521  0.29351742 ...  0.64609167 -1.03067011
  -1.06016668]]
Xtest: [[-1.04059329  1.36030302  2.96341796 ... -1.54776799  0.97024255
   0.54057152]
 [ 0.05490461 -0.64697147 -0.08789694 ...  0.64609167 -1.03067011
  -0.41944095]
 [-0.73835198  0.41874643 -0.4693113  ... -1.54776799  0.97024255
   1.0688824 ]
 ...
 [-0.98771044 -0.06755203 -1.99496875 ...  0.64609167 -1.03067011
  -0.71152   ]
 [-0.01860866  0.49117386 -0.08789694 ...  0.64609167  0.97024255
  -1.01716855]
 [-0.24913005  0.28423834  0.96099256 ... -1.54776799  0.97024255
  -1.72762087]]

In [12]:
print("Ytrain:" ,Ytrain, "\nYtest:", Ytest)

Ytrain: [-0.50577476 -0.50577476 -0.50577476 ... -0.50577476 -0.50577476
 -0.50577476]
Ytest: [-0.50577476 -0.50577476 -0.50577476 ... -0.50577476 -0.50577476
  1.97716468]